@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Nunito&display=swap');

:root {
    /* colors */
    --color-blue: #1b98e0;
    --color-gray-dark: #333333;
    --color-gray-light: #ebebeb;
    --color-sea-foam-green: #59c3c3;
    /* defaults */
    --color-background-dark: var(--color-gray-dark);
    --color-background-light: var(--color-gray-light);
    --color-border-dark: var(--color-gray-dark);
    --color-border-light: var(--color-gray-light);
    --color-primary: var(--color-blue);
    --color-secondary: var(--color-sea-foam-green);
    --color-text-dark: var(--color-gray-dark);
    --color-text-light: var(--color-gray-light);
    --color-text-secondary: var(--color-blue);
    --font-family-primary: "Amatic SC";
    --font-family-secondary: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    color: var(--color-text-dark);
}

body {
    margin: 0;
    padding: 25px;
}

h1 {
    font-size: 3.25rem;
    text-align: center;
}

h1::before {
    content: "";
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 5px;
    background-image: url('./images/recipe-book.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1,
h2 {
    font-family: var(--font-family-primary);
}

img {
    width: 100%;
}

header,
main,
footer {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

form[name="recipes"] {
    display: flex;
    justify-content: center;
    max-height: 35px;
}

form[name="recipes"] input[name="recipe"] {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid var(--color-border-dark);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

form[name="recipes"] button[type="submit"] {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('./images/search.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--color-border-dark);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#recipe {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    border: 1px solid var(--color-border-dark);
    border-radius: 5px;
}

.recipe-meta {
    text-align: center;
    background-color: var(--color-background-light);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.recipe-meta p:first-of-type {
    margin-bottom: 0;
}

.recipe-meta p:last-of-type {
    margin-top: 0;
}

.recipe-meta-label {
    font-weight: bold;
}

.recipe-meta-detail {
    font-size: 0.875rem;
    padding-top: 5px;
}

.recipe-description > h2 {
    color: var(--color-text-secondary);
}

#recipe > .recipe-description {
    padding: 20px;
}

.tags {
    display: flex;
    margin: 0;
    padding: 0;
}

.tags li {
    border: 1px solid var(--color-border-light);
    color: var(--color-text-light);
    background-color: var(--color-background-dark);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.tags li:not(:first-of-type) {
    margin-left: 10px;
}

.tags li:hover {
    color: var(--color-text-dark);
    background-color: var(--color-background-light);
}

.hide {
    display: none;
}

.button-as-link {
    background: none;
    border: none;
    margin-top: 20px;
    color: #0066cc;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    text-decoration: underline;
}

.button-as-link:hover {
    color: var(--color-blue);
    text-decoration: none;
}

@media (min-width: 380px) {
    .recipe-meta {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    
    .recipe-meta div {
        flex: 33%;
        align-content: center;
    }
}

@media (min-width: 700px) {
    .recipe-image {
        position: relative;
        overflow: hidden;
    }

    .recipe-image img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    #recipe {
        flex-direction: row;
    }

    #recipe > .recipe-image {
        flex: 40%;
    }

    #recipe > .recipe-description {
        flex: 60%;
        padding: 50px;
    }
}
