header, main, footer {
    text-align: center;
    max-width: 640px;
}

main {
    display: grid;
    grid-template-columns: auto;
}

@media screen and (min-width: 500px) {
    header {
        background-color: #000000;
        color: #ffffff;
    }
    main {
        grid-template-columns: 1fr 2fr;
    }
}
