:root {
    --base: 16;
    /* px to rem: E.g.: 40px === 2.5rem */
    --spacing-primary: calc((40 / var(--base)) * 1rem);
    --width-max: calc((1200 / var(--base)) * 1rem);
    --breakpoint-middle: calc((700 / var(--base)) * 1rem);
    --breakpoint-large: calc((1000 / var(--base)) * 1rem);
}

footer,
header,
main,
nav {
    max-width: var(--width-max);
    margin: 0 auto;
    padding: var(--spacing-primary);
}

footer,
header {
    text-align: center;
}

section.gallery {
    display: grid;
    grid-template-columns: auto;
    gap: var(--spacing-primary);
    place-items: center;
}

li {
    list-style: none;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    max-height: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.viewer {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    color: white;
    padding: var(--spacing-primary);
}

.viewer img {
    max-width: 100%;
    object-fit: contain;
}

.viewer button {
    justify-self: right;
    margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
    section.gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    section.gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .menu {
        display: none;
    }

    nav li {
        display: inline-block;
        margin: 0 20px;
    }

    .viewer {
        margin: 100px;
    }
}